.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nfcontainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.nfcontainer img {
    max-width: 40%;
    margin-bottom: 20px;
    border-radius: 15px; /* This will round the corners */
    border: 5px solid #453793; /* This is the border itself */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: to give it a slight shadow for depth */
}

.nfcontainer h1 {
    font-size: 24px;
    margin-bottom: 15px;
}

.nfcontainer p {
    font-size: 18px;
    margin-bottom: 20px;
}

.nfcontainer a {
    display: inline-block;
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nfcontainer a:hover {
    background-color: #8dbcfc; /*0056b3*/
}
