.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.centered-container img,
.centered-content img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: block;
}

@media (min-width: 576px) {
    div.MuiContainer-root {
        padding-right: 0rem !important;
        padding-left: 0rem !important;
    }

    div.outerMuiContainer-root {
        border: 3px double #f3f7fd;
    }

    .centered-container img {
        width: 90%;
        margin: 0 auto;
    }
}
